@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: poppins;
}

section {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.main-card {
  width: 250px;
  cursor: pointer;
  background-color: #18181b;
  margin: 5px;
  display: inline-block;
  padding: 10px;
  height: 400px;
  border: 2px #ffffff solid;
  border-radius: 5px;
  align-items: center;
  text-align: center;
  transition: 0.5s;
}

.main-card:hover {
  scale: 1.05;
  box-shadow: rgba(255, 255, 255, 0.432) 0px 5px 15px;
}

.poster {
  width: 250px;
  border-radius: 5px;
  height: 300px;
  object-fit: cover;
}

.title {
  color: #ecedee;
  justify-content: center;
  display: flex;
  text-align: center;
  align-items: center;
  height: 50px;
  max-width: 240px;
}

.year {
  font-weight: 700;
  color: #7f7f86;
}

.type {
  color: #cfcfcf;
}
